@import "assets/style/_variable.scss";

.Wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  z-index: 1000;
  background-color: $color-background-hightlight;

  .ErrorMessage {
    color: $color-text-active;
    font-size: 5rem;
  }
}
