@import "assets/style/_variable.scss";

.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;

  .MainLabel {
    color: $color-text-label;
    font-size: 2.5rem;
    text-align: right;
  }

  .Detalis {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  .Label {
    text-transform: capitalize;
    font-size: 1.5rem;
  }
}
